[submodule "IoTMqttPoC"]
	path = IoTMqttPoC
	url = https://github.com/victorvillajimenez/iot-mqtt-poc.git
[submodule "IoTMqttPLC"]
	path = IoTMqttPLC
	url = https://github.com/victorvillajimenez/IoTMqttPLC.git
[submodule "IoTMqttPubSubServer"]
	path = IoTMqttPubSubServer
	url = https://github.com/victorvillajimenez/iot-mqtt-pubsub-server.git
[submodule "IoTMqttPubSubClient"]
	path = IoTMqttPubSubClient
	url = https://github.com/victorvillajimenez/iot-mqtt-pubsub-client.git
